# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables file
.env

# Google service account JSON file
service_account.json

# Virtual environment folders
venv/
env/
.venv/

# Logs and databases
*.log
*.sqlite3

# IDE/editor folders
.vscode/
.idea/

# MacOS system files
.DS_Store

# Python packaging
*.egg-info/
dist/
build/

# pyenv
.python-version
